/* common font styls */
body {
    font-family: 'Lato', sans-serif;
}

/* header section style */
nav {
    background-color: #E554731A;
    display: flex;

    width: 1920px;
}

.main-title-section {
    padding: 200px 100px 0px 250px;

}

.main-title {
    color: #272727;
    margin-bottom: 30px;
    font-size: 70px;
}

.main-title-discription {
    color: rgb(99, 113, 126);
    width: 600px;
    font-size: 20px;
    
}

.primary-btn {
    padding: 20px 45px;
    background-color: #E55473;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 20px;
}

.image-section {
    padding: 50px 240px 0 100px;
}

/* Featured releted styles */
.Featured-flowrs-item {
    margin-top: 180px;
    text-align: center;
    margin-bottom: 50px;
}

.Featured-flowrs-title {
    font-size: 45px;
    color: #272727;
    ;
}

.featured-releted {
    text-align: center;
    font-size: 20px;
}

/* featured flower related style */
.flower-image {
    margin-left: 240px;

}

#flower-1 {
    padding: 110px 76px 0px 76px;
    background: rgba(229, 84, 115, 0.10);
    border-radius: 300px 300px 0px 0px;
    margin-right: 24px;
}

#flower-2 {
    padding: 117px 47px 51px 47px;
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    margin-right: 24px;
}

#flower-3 {
    padding: 67px 75px 0px 75px;
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
}

.flowers-item {
    display: flex;
    font-size: 24px;
    list-style: none;
}

.pink {
    margin: 15px 307px 0px 340px;
}

.red {
    margin: 15px 290px 0px 0px;
}

.yellow {
    margin: 15px 307px 0px 35px;
}

/* about section style */
.about-section {
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    margin-left: 240px;
    margin-top: 150px;
    padding-top: 20px;
}

.delivary-image {
    margin-left: 300px;
    margin-top: 80px;
    display: flex;
}

.delivary-image img {
    margin-right: 270px;
}

.content {
    display: flex;
    margin-left: 185px;
    font-size: 20px;
}

.content p {
    margin-right: 65px;
}

.content .support {
    margin-right: 160px;
}

/* hot offer of main section style */
.hot-model-section {
    margin-top: 125px;
    background: rgba(229, 84, 115, 0.05);
    width: 1922px;
    display: flex;
    justify-content: space-around;
}

.free-section-title {
    color: #272727;
    font-size: 40px;
    text-align: center;
}


.free-section-detail {
    color: #27272799;
    text-align: center;
}

.free-details {
    margin: 230px 215px 160px 423px;
}

.rose-image {
    margin: 100px 430px 100px 0;
}

#singup {
    margin-left: 200px;
}

/* contact releted styles */
.social-option {
    text-align: center;
}

.Instagram {
    margin-top: 100px;
    font-size: 40px;
    margin-bottom: 10px;
}

.social-releted {
    font-size: 20px;
    margin-bottom: 50px;
    color: #685e69;
}

.some-difarent-flowers {
    margin-left: 240px;
}

.some-difarent-flowers img {
    margin-right: 24px;
}

/* last main section styls */
.last-details {
    margin-top: 128px;
    margin-left: 240px;
    background-repeat: no-repeat;
    padding-top: 122px;
    width: 1440px;
    height: 450px;
    background-image: url('../all image/Rectangle 9.png')
}

.last-details-heading {
    font-size: 40px;
    text-align: center;
}

.last-details-para {
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    color: #f02753;
}

.email {
    width: 700px;
    height: 64px;
    background-color: white;
    color: black;
    border: none;
    margin-left: 287px;
    padding-left: 20px;
    margin-right: 10px;
}
/* all footer style */
.footer-section{
    text-align: center;
    background-color: #161515;;
    padding-top: 125px;
    padding-bottom: 125px;
    width: 1922px;
}
.basic-colore{
   color:  #E55473;
}
.footer-title{
    font-size: 48px;
    color: white;
}
.footer-discription{
    font-size: 20px;
    color: rgb(255, 255, 255);
   
}
.footer-last-discription{
    font-size: 15px;
    color: wheat;
    
}